@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
/* @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); */
body {
  margin: 0;
  font-family: "Montserrat", sans-serif !important;
  /* font-family: "Poppins", sans-serif !important; */
  font-weight: 100;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: azure;
}

body,
html {
  overflow-x: hidden !important;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.bs1 {
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  /* box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px; */
  /* box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px; */
  /* box-shadow: rgb(85, 91, 255) 0px 0px 0px 3px, rgb(31, 193, 27) 0px 0px 0px 6px, rgb(255, 217, 19) 0px 0px 0px 9px, rgb(255, 156, 85) 0px 0px 0px 12px, rgb(255, 85, 85) 0px 0px 0px 15px; */
}
.ant-row {
  margin: 0 20 !important;
}
.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 9999;
}
h1 {
  font-size: 30px;
  font-weight: bold;
  color: black;
}
p {
  margin: 5px !important;
  padding: 0;
}
.btn1 {
  box-shadow: none !important;
  background-color: white !important;
  color: teal;
  border: 1px solid teal;
  padding: 5px 15px !important;
  outline: none !important;
}

.bt1:hover {
  color: green;
}
button {
  padding: 3px 10px !important;
}

.header {
  padding: 10px;
  background-color: rgb(255, 201, 0);
  /* color: blue; */
  border-bottom: 2px solid #15c5ff;
  /* background-color: #c5aa6a; */
}
.text-logo {
  font-size: 55px !important;
  font-family: "Raleway";
  font-weight: 900;
  line-height: 50px;
  /* opacity: 0.9; */
}
/* .header .ant-btn{
  /* box-shadow: none !important;
  background-color : white !important;
  color: orangered !important;
  border: 2px solid teal !important;
  padding: 5px 15px !important;
  outline: none !important; */

/* } */

/* CSS */
.header .ant-btn {
  background: #fff;
  backface-visibility: hidden;
  border-radius: 0.375rem;
  border-style: solid;
  border-width: 0.125rem;
  box-sizing: border-box;
  color: #212121;
  cursor: pointer;
  display: inline-block;
  font-family: Circular, Helvetica, sans-serif;
  font-size: 1.125rem;
  font-weight: 700;
  letter-spacing: -0.01em;
  line-height: 1.3;
  padding: 0.875rem 1.125rem;
  position: relative;
  text-align: left;
  text-decoration: none;
  transform: translateZ(0) scale(1);
  transition: transform 0.2s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.hbutton {
  top: 15px;
  align-items: center;
  justify-content: center;
  /*width: 90px !important;*/
  text-align: center !important;
  border: 2px solid rgb(45, 162, 162) !important;
}



.header .ant-btn:not(:disabled):hover {
  transform: scale(1.05);
}

.header .ant-btn:not(:disabled):hover:active {
  transform: scale(1.05) translateY(0.125rem);
}

.header .ant-btn:focus {
  outline: 0 solid transparent;
}

.header .ant-btn:focus:before {
  content: "";
  left: calc(-1 * 0.375rem);
  pointer-events: none;
  position: absolute;
  top: calc(-1 * 0.375rem);
  transition: border-radius;
  user-select: none;
}

.header .ant-btn:focus:not(:focus-visible) {
  outline: 0 solid transparent;
}

.header .ant-btn:focus:not(:focus-visible):before {
  border-width: 0;
}

.header .ant-btn:not(:disabled):active {
  transform: translateY(0.125rem);
}

.content {
  min-height: 90vh;
  /* background-color: rgb(255, 255, 230); */
  background-color: rgb(246, 242, 242);
}
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

.footer {
  font-family: "Lato", sans-serif;
  font-weight: 500;
  font-style: normal;
  background-color: rgb(97, 181, 255);
  border-top: 3px solid rgb(5, 120, 222);
  padding: 10px;
  font-size: 20px;
  color: black;
  height: 15vh;
}

/* this is just for ui purpose , no functionality is related */
.car {
  border-radius: 5px;
  margin-top: 100px;
  height: 160px;
  transition: 0.3s;
}
.car:hover {
  height: 220px;
}
.car:hover > .car-content {
  opacity: 1;
  transform: translateY(-40px);
}
.carimg {
  height: 180px;
  width: auto;
  border-radius: 5px;
  transform: translateY(-50px);
}


.car-content {
  transform: translateY(-200px);
  opacity: 0;
  transition: 0.3s;
}
.login {
  background-color: rgb(205, 239, 230);
  padding-top: 50px;
  min-height: 100vh;
}
.login label,
.login h1 {
  color: rgb(0, 101, 101) !important;
  opacity: 0.9;
  font-size: 40px;
}

.logp {
  background-color: rgb(253, 249, 244);
  border: 4px solid #15c5ff;
  color: black;
  border-radius: 25px;
}

.fontSize {
  font-size: 19px !important;
}

.login-form {
  background-color: rgb(239, 251, 220) !important;
  /* font-size: 20px !important; */
  /* color: black !important; */
  /* height: 65vh; */
}
.login-form input {
  background-color: #d4d2d2 !important;
  border: 0.2px solid !important;
  color: black;
  font-size: 18px;
  /* opacity: 0.; */
}
.login-logo {
  position: absolute;
  font-size: 55px !important;
  font-family: "Raleway";
  font-weight: 900;
  line-height: 82px;
  top: 1%;
  left: 3%;
  opacity: 0.9 !important;
}
.login a {
  color: rgb(0, 162, 255) !important;
  /* opacity: 1; */
  font-size: 19px;
}
.login a:hover {
  color: rgb(72, 63, 252) !important;
  /* opacity: 0.5; */
  font-size: 19px;
}

.carimg2 {
  height: 400px;
  border-radius: 10px;
  width: auto;
}

svg {
  height: 20px !important;
  width: 20px !important;
}
a {
  color: teal !important;
}

.size {
  font-size: 22px !important;
  font-weight: bold;
}

.text-left {
  text-align: left;
  font-family:  sans-serif; 
  font-size: 15px;
}

.carname {
  color:rgb(240, 56, 56);
}

/* .hidden{
display: none;
} */

#my-form {
  display: none;
}


/* Media query for smaller screens */
@media (max-width: 870px) {
  .datepic {
    width: 80%; /* Adjust the width as per your requirement */
  }
}

.filter {
  /* justify-content: right; */
  margin-top: 10px;
  margin-right: 20px;
  align-items: center;
  justify-content: center;
  width: 100px;
}

.hpage .ant-btn {
  padding: 4px;
  font-size: 20px;
}

.hpage .ant-picker-range {
  top: 20px;
  border: 3px solid rgb(88, 245, 88) !important ;
  border-radius: 50px !important;
  /* position: relative;
  display: inline-flex; */
  height: 50px;
  /* color: red !important; */
}
.ant-picker-range {
  top: 20px;
  border: 3px solid rgb(88, 245, 88) !important ;
  border-radius: 50px !important;
  /* position: relative;
  display: inline-flex; */
  height: 50px;
  /* color: red !important; */
}

.btnSee {
  color: rgb(1, 52, 62);
  border-radius: 5px;
  font-size: 17px;
}
.btnSee:hover {
  color: rgb(4, 132, 158);
  border: 2px solid rgb(218, 32, 32);
  border-radius: 5px;
  font-size: 17px;
}
.ant-picker-input > input{
  font-size: 22px !important;
  color: rgb(0, 0, 0) !important;
}

/*------------------- */

.display{
  margin-left: 50px;
  /* height: 70vh !important; */
  background-color: white;
  color:#336699;
  display: flex;
  border-radius: 12px;
  height: 100%;
  max-width: 500px;
}

.display h4{
  color:#336699;
  padding: 5px;
}

.car-image-container{
  flex: 3;
}

.car-detail{
  flex :2;
  text-align: left;
  margin: 15px;
  margin-bottom: 20px;
  font-size: 19px;
}
.car-detail h3{
  text-align: center;
  margin: 9px;
  color: #336699;
}
.car-detail p{
  padding: 3px;
}

.Paymentbtn{
  font-size: 19px;
  border: 2px solid black;
  margin-bottom: 15px;
  background-color: #336699;
  color: white;
}
.Paymentbtn:active{
  font-size: 19px;
  border: 2px solid black;
  margin-bottom: 15px;
  background-color: #cacaca;
  color: black;
}

.check {
  font-size: 17px !important;
}

.seeinfo {
  font-size: 19px;
}

.totalAmount{
  color: blue !important;
}